body {
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  background-color: rgb(255, 242, 242);
}
h1 {
  font-weight: bold;
  font-size: 2.5rem;
  color:rgb(32, 64, 86);
}
h6 {
  font-size: 1rem;
  font-weight: bold;
  color:rgb(32, 64, 86);
}
p {
  color: rgb(74, 74, 74);
}
.container {
  padding: 5.25rem 0;
  max-width: 90rem;
}
.card {
  background-color: rgb(32, 64, 86);
  width: 12.5rem;
  height: 12.5rem;
  border: 4px solid #ffffff;
  border-radius: 8px;
  color: white;
  font-weight: 900;
  font-size: 7rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
