/* universal style */

html {
  width: 100%;
  margin: 0;
}
body {
  font-size: 14px;
  font-family: roboto;
  width: 100%;
  color: #555555;
  margin: 0;
}
h1 {
  font-size: 2.25rem;
  font-weight: bold;
}
h2 {
  font-size: 2rem;
  font-weight: bold;
}
h3 {
  font-size: 1.25rem;
  font-weight: 500;
}
img {
  display: inline-block;
}
p {
  font-weight: 100;
  color: gray;
}
/* header */

header {
  height: 64px;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
header .hleft img {
  height: 32px;
}
.hleft, .hright {
  padding: 0 24px;
}
.colmar {
  padding: 2px;
  font-weight: bolder;
  display: inherit;
}
.academy {
  color: #858585;
  display: inherit;
}
.hleft {
  display: inline-flex;
  align-items: center;
  font-size: 22px;
}
.hright {
  font-size: 1.05rem;
}
#resume, #reviews, #contact {
  color: #555555;
  padding-right: 12px;
}
.online {
  padding: 0 16px;
}
.comp {
  padding-right: 16px;
}

/* main content */

/* learn section */
.learn {
/* original backgroung #CFCFCF */
  background-color: white;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-bottom: 32px;

}
.learn .left img {
  max-width: 100%;
  height: auto;
  padding-top: 32px ;
  display: inline-block;
  justify-content: center;
}
.learn .left {
  width: 60%;
  padding-left: 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.learn .right {
  width: 40%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.learn .right .start {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #555555;
  color: white;
  padding: 8px 0;
  width: 100%;
}
.start a {
  color: white;
}
.right h1, h3 {
  width: 100%;
  margin: 0 0 24px 0;
}
.right h3 {
}
.right2 {
  width: 75%;
}
#aboutme {
  color: white;
}
/* practice section */
/* about me section */
.practice {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  padding: 64px 0;
}
.practice .left {
  display: inline-flex;
  flex-flow: column;
  align-items: center;
  width: 60%;
  padding-top: 32px;
  padding-left: 24px;
  padding-right: 24px;
}
.practice .left img {
  display: inline-block;
  width: 80%;
  height: auto;
  margin: 0;
}
.practice .left h2 {
  display: inline-flex;
  padding: 18px 0;
  margin: 0;
}
.practice .left p {
  display: inline-flex;
  margin: 0 0 32px 0;
}
.practice .right {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 16px;
  padding-bottom: 32px;
}
.right img {
  width: 35%;
  height: auto;
  padding: 16px;
}
.orien, .campus, .guest {
  display: inline-flex;
  align-items: center;
}


.details {
  width: 30%;
}
.practice .right p {
  padding-top: 8px;
  margin: 0;
}
.practice .right h3 {
  margin: 0;
}
.orien img:first-child {
  display: none;
}
.campus img:first-child {
  display: none;
}
.guest img:first-child {
  display: none;
}
.progress {
  width: 65%;
}

.pics {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 0;
}
.pics img {
  width: 100%;
  /*266.41px*/
  height: auto;
  /*213.39px*/
  padding: 0;
}
.pics a {
  color: #555555;
  padding-right: 20px;
  width: 50%;
}
/* start learning */
.start ul {
  display: none;
}
.start {
  background-color: #EFEFEF;
  padding: 32px 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row1, .row2 {
  display: inline-flex;
  flex-flow: row;
  width: 100%;
}
.row1 {
  margin: 0;
}
.block {
  width: 100%;
  background-color: white;
  margin: 16px;
}
.block img {
  width: 100%;
  height: auto;
}
.start h2 {
  margin: 0;
  padding-bottom: 16px;
}
.block h3 {
  margin: 16px;
}
.block p {
  margin: 8px 16px 16px 16px;
}
#row1m, #row2m, #row3m {
  display: none;
}
.colm {
  display: none;
}
/* Thesis Section */
.thesis {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.thesis .content{
  display: inline-flex;
  flex-direction: row;
  padding: 0 24px 20px 24px;
}
.content .left {
  padding-right: 24px;
}
video {
  width: 100%;
}
.thesis .left {
  width: 60%;
}
.thesis .right {
  width: 40%;
}
.fisma {
  background-color: #CFCFCF;
}
.fisma, .now {
  display: inline-flex;
  flex-direction: row;
}
.thesis img {
  width: 35%;
  height: 35%;
}
.fisma, .now {
  display: inline-flex;
  align-items: center;
  width: 100%;
}
/* Footer */
footer {
  width: 100%;
  height: 80px;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #EFEFEF;
  font-size: .75rem;
}
footer p {
  margin: 16px 24px;
}
#email {
  padding-right: 12px;
  cursor: pointer;
}
#link {
  padding-right: 48px;
  cursor: pointer;
}

 /* media queries */

 @media only screen and (max-width: 1219px) {
   body {
     font-size: 12px;
   }
   .practice h1, .practice h2, .practice h3 {
     font-size: 1.25rem;
   }
 }
 @media only screen and (max-width: 1020px) {
   .details h3 {
     font-size: 12px;
   }
   .orien, .guest, .campus {
     padding-bottom: 8px;
   }
 }
 @media only screen and (max-width: 768px){
   .practice .left h2 {
     margin: 18px 0 12px 0;
   }
  .practice .left p {
    margin-bottom: 12px;
  }
  .learn .right {
    padding-top: 32px;
  }
  #CID {
    font-size: 16px;
  }
  .row1, .row2 {
    display: none;
  }
  #row1m, #row2m, #row3m {
    display: inline-flex;
    flex-flow: row;
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  header .hleft {
    display: none;
  }
  header {
    justify-content: center;
  }
}
@media only screen and (max-width: 768px) {
  .comp {
    padding: 0;
  }
  #contact {
    padding: 0;
  }
}
@media only screen and (max-width: 425px) {
  .practice {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .practice .left {
    width: 100%;
  }
  .practice .right {
    width: 100%;
    padding: 16px 24px;
    text-align: center;
  }
  #row1m, #row2m, #row3m {
    display: none;
  }
  .start {
    padding: 0;
  }
  .start h2 {
    padding: 24px 0 8px 0;
  }
  .colm {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 16px 24px;
  }
  .colm .block {
    margin: 0 0 16px 0;
  }
  .details {
    padding-right: 8px;
  }
  .orien, .campus, .guest {
    padding: 12px 0;
  }
  .pics {
    flex-direction: column;
  }
  .pics a {
    width: 70%;
    padding-bottom: 16px;
  }
  #link {
    padding-right: 12px;
  }
}
@media only screen and (max-width: 375px) {
  footer {
    justify-content: flex-start;
  }
  #email {
    padding-left: 24px;
  }
  #contactbutton {
    margin-left: 24px;
  }
}
@media only screen and (max-width: 320px) {
  #contactbutton {
    margin: 0;
  }
}
